h2{
    color: #5FCFFC;
    background-color:rgb(204, 208, 199);
}
button{
    color: magenta;
    background-color: cyan;
}
p{
    color: olive;
    background: yellow;
}
body{
    background-color: #000000;
}