span{
    color: green;
}
.tag{
    color:#f1faee ;
    font-size: 16px;
    background-color: red;
}
.post a{
    color: #a8dadc;
}
h2+button{
    color: red;
}
footer a{
    color: red;
}
footer>a{
    color: #457b9d;
}
input[type="password"]{
    color: rgb(77, 0, 0);
}
section[class="post"]{
    background-color: purple;
}
section.post{
    color:pink ;
}
a[href*="google"]{
    color: rgb(62, 1, 205);
}
button:hover{
    background-color: red;
    color: #f1faee;
}
a:hover{
    text-decoration: underline;
}
.post button:active{
    background-color: #02c39a;
}
h2::first-letter{
    font-size: 50px;

}
p::first-line{
    color: purple;
}
p::selection{
    background-color: yellow;
}